doctype strict
html
	head
		title #{title}
	body
		ul
			if survey
				each question in survey.questions
					li= question.text
					ul
						each answer in question.answers
							li= answer
			else
				p Survey not found
