doctype strict
html
    head
        title #{title}
    body
        div#contact-area
            form(method='post',action='')
                label(for='question') Question:
                input(type='text',name='question',id='question')

                label(for='choice1') Choice 1:
                input(type='text',name='choice1',id='choice1')

                label(for='choice2') Choice 2:
                input(type='text',name='choice2',id='choice2')
                
                input(type='submit',name='submit',value='Submit').submit-button
