doctype strict
html
    head
        title #{title}
    body
        ul
            each question in survey.questions
                li= question.text
                ul
                    each answer in question.allowedAnswers
                        li= answer
